@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="col-md-6 col-lg-5 mb-5 mb-lg-0">
    <h2 class="font-weight-bold text-5 mb-0">Login</h2>

    <form id="account" method="post" class="needs-validation">
        <div class="row">
            <div class="form-group col">
                <label asp-for="Input.Email" class="form-label text-color-dark text-3">Phone number <span class="text-color-danger">*</span></label>
                <input type="text" asp-for="Input.Email" class="form-control form-control-lg text-4">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label asp-for="Input.Password" class="form-label text-color-dark text-3">Password <span class="text-color-danger">*</span></label>
                <input type="password" asp-for="Input.Password" class="form-control form-control-lg text-4">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="form-group col-md-auto">
                <div class="custom-control custom-checkbox">
                    <input asp-for="Input.RememberMe" type="checkbox" class="custom-control-input" id="rememberme">
                    <label asp-for="Input.RememberMe" class="form-label custom-control-label cur-pointer text-2" for="rememberme">Remember Me</label>
                </div>
            </div>
            <div class="form-group col-md-auto">
                <a id="forgot-password" asp-page="./ForgotPassword" class="text-decoration-none text-color-dark text-color-hover-primary font-weight-semibold text-2">Forgot Password?</a>
            </div>


        </div>
        <div class="row">
            <div class="form-group col">
                <button type="submit" class="btn btn-dark btn-modern w-100 text-uppercase rounded-0 font-weight-bold text-3 py-3" data-loading-text="Loading...">Login</button>

            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-auto">
                <a id="forgot-password" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-decoration-none text-color-dark text-color-hover-primary font-weight-semibold text-2">Register as a new user</a>
            </div>
        </div>


        @*<div class="form-group">
            <p>
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
            <p>
            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
            </p>
            </div>*@
    </form>

    @*<div class="col-md-6 col-md-offset-2">
        <section>
        <h4>Use another service to log in.</h4>
        <hr />
        @{
        if ((Model.ExternalLogins?.Count ?? 0) == 0)
        {
        <div>
        <p>
        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
        for details on setting up this ASP.NET application to support logging in via external services.
        </p>
        </div>
        }
        else
        {
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
        <div>
        <p>
        @foreach (var provider in Model.ExternalLogins)
        {
        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
        }
        </p>
        </div>
        </form>
        }
        }
        </section>
        </div>*@
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
