
@{
    ViewData["Title"] = SharedLocalizer["Brands"];
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @SharedLocalizer["Brands"] 
            </h1>
        </div>
    </div>

    <div class="row">
        <div id="gridContainer">
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            let url = "/api/ProductApi/GetAllBrand";
            var returnUrl = '@Context.Request.Path@Context.Request.QueryString';
            $("#gridContainer").dxDataGrid({
                dataSource: DevExpress.data.AspNet.createStore({
                    key: "id",
                    loadUrl: url,
                    insertUrl: url,
                    updateUrl: url,
                    deleteUrl: url,
                    onBeforeSend: function (method, ajaxOptions) {
                        ajaxOptions.xhrFields = { withCredentials: true };
                    }
                }),
                onInitNewRow: function(e) {
                    var url = `@Url.Action("CreateBrand", "Product")`;
                    window.location = url;
                },
                filterPanel: {
                    visible: false
                },
                filterRow: { visible: false },
                remoteOperations: true,
                onRowUpdating: function (e) {
                    e.newData = Object.assign(e.oldData, e.newData)
                },
                //scrolling: {
                //    mode: "virtual",
                //    rowRenderingMode: "virtual"
                //},
                paging: {
                    pageSize: 10
                },
                editing: {
                    useIcons: true,
                    allowUpdating: true,
                    allowDeleting: true,
                    allowAdding: true
                },
                headerFilter: {
                    visible: true
                },
                wordWrapEnabled: true,
                showColumnLines: true,
                showRowLines: true,
                rowAlternationEnabled: true,
                showBorders: true,
                searchPanel: {
                    visible: true
                },
                stateStoring: {
                    enabled: true,
                    type: "localStorage",
                    storageKey: "BrandAdmin"
                },
                columns: [
                    {
                        caption: '@SharedLocalizer["Image"]',
                        dataField: "icon",
                        width: 200,
                        allowSorting: false,
                        allowHeaderFiltering: false,
                        cellTemplate(container, options) {
                        $('<div>')
                        .append($('<img>', {style: "margin-left:40px;height: 60px;width: 60px;", src: "/admindata/product/brand/"+options.value }))
                        .appendTo(container);}
                    },
                    {
                        caption: '@SharedLocalizer["Name"]',
                        dataField: "name",
                        allowSorting: false,
                        allowHeaderFiltering: false
                    },
                    {
                        caption: '@SharedLocalizer["Category"]',
                        dataField: "category",
                        allowSorting: false,
                        allowHeaderFiltering: false,
                        cellTemplate(container, options) {
                            var s="";var t=options.value;
                            for (let i =0;i<t.length;i++){
                                if (t[i]=='?'){s=s+"<br />"} else {s=s+t[i]}
                            }
                        $('<div>')
                        .append($('<p>').html(s))
                        .appendTo(container);
                        }
                    },
                    {
                        caption: '@SharedLocalizer["Order"]',
                        dataField: "order",
                        allowHeaderFiltering: false
                    },                    
                    {
                        type: "buttons",
                        width: 110,
                        buttons: [
                            {
                                hint: '@SharedLocalizer["Edit"]',
                                icon: "edit",
                                onClick: function (e) {
                                    var idString = e.row.data.id;
                                    var url = `@Url.Action("EditBrand", "Product")`;
                                    window.location = url + '?id=' + idString;
                                }
                            },
                            "delete"
                        ]
                    }
                ]
            });

        });
    </script>
}